<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../../partials/head') %>
      <link rel="stylesheet" href="/css/forms.css" />
  </head>

  <body>
    <%- include('../../partials/header') %>
      <main>
        <section class="small-form">
          <div class="place-items-center" style="width: 100%;">
            <h1>Edit Resource</h1>
          </div>

          <form class="form" action="/resources/<%= resourceId %>/update" method="POST">
            <div class="form-section">
              <div class="input-group">
                <label class="input-label" for="name">Name</label>
                <input class="input" type="text" placeholder="Name" name="name" id="name" required
                  value="<%= value.name %>">
                <p class="input-error">
                  <%= error.name %></p>
          </div>

          <div class="input-group">
            <label class="input-label" for="url">URL</label>
            <input class="input" type="url" placeholder="URL"
              name="url" id="url" required
              value="<%= value.url %>"
            >
            <p class="input-error"><%= error.url %></p>
          </div>

          <div class="input-group">
            <label class="input-label" for="description">Description</label>
            <textarea class="input" name="description" id="description" cols="30" rows="5" required
            ><%= value.description %></textarea>
            <p class="input-error"><%= error.description %></p>
          </div>

          <div class="input-group">
            <label class="input-label" for="title">Tags</label>
            <input class="input" type="text" placeholder="tag1 tag2"
              name="tags" id="tags"
              value="<%= value.tags.join(' ') %>"
            >
            <p class="input-error"><%= error.tags %></p>
          </div>
        </div>

        <div class="form-section">
          <div class="form-commands">
            <input class="btn btn-primary" type="submit" value="Save">
            <a class="btn btn-outline" href="/resources">Cancel</a>
            <a class="btn btn-alert" href="/resources/<%= resourceId %>/delete">Delete</a>
          </div>
        </div>
      </form>
    </section>
  </main>
</body>
</html>