<!DOCTYPE html>
<html lang="en" class="sl-theme-light">
<head>
  <%- include('../../partials/head') %>
  <link rel="stylesheet" href="/css/resources.css" />
  <link rel="stylesheet" href="/css/filters.css" />

  <script type="module" src="/js/resources.js" defer></script>
  <script src="/js/multiselect-dropdown.js" ></script>
  <style>
    select { width: 40rem; }
  </style>
</head>
<body>
  <%- include('../../partials/header') %>
  <main>
    <section class="page-header">
      <div class="filters">
        <div class="filter-section">
            <input class="input" type="text" placeholder="Category" list="categoryList"
              name="category" id="txtCategory"
              value="<%= filter.category %>"
            >
            <datalist id="categoryList">
              <% categories.forEach(function(category) { %>
                <option><%= category %></option>
              <% }); %>
            </datalist>

            <select id="selTags" multiple placeholder="Tags"
              multiselect-search="true"
              multiselect-select-all="true"
              multiselect-max-items="2"
              multiselect-hide-x = "false"
            >
              <% tags.forEach(function(tag) { %>
                <option value="<%= tag %>"
                  <%= filter.tags.includes(tag) ? 'selected' : '' %>
                ><%= tag %></option>
              <% }); %>
            </select>
        </div>
        <div class="filter-section">
          <div class="filter-commands">
            <button id="btnClearFilter" class="btn btn-small">Clear</button>
          </div>
        </div>
      </div>

      <div class="commands">
        <% if (user && user.role.includes('admin')) { %>
          <a class="btn btn-primary" href="/resources/add">Add</a>
        <% } %>  
      </div>
    </section>

    <section class="resources">
    <% if (resources.length) { %>
      <% resources.forEach(function(resource) { %>
      <div class="card">
        <div class="card-header">
          <div class="header-left">
            <h2 class="title"><%= resource.name %></h2>
            <a href="<%= resource.url %>" target="_blank">
              <i class="ri-external-link-line"></i>
            </a>
          </div>

          <div class="header-right">
            <a href="/resources/<%= resource.id %>/upvote">
              <i class="ri-thumb-up-line"></i>
            </a>
            <a href="/resources/<%= resource.id %>/downvote">
              <i class="ri-thumb-down-line"></i>
            </a>
            <% if (user && user.role.includes('admin')) { %>
              <a href="/resources/<%= resource.id %>/edit">
                <i class="ri-edit-box-line"></i>
              </a>
            <% } %>  
          </div>
        </div>
        <div class="card-content">
            <%= resource.description %>
        </div>
        <div class="card-footer">
          <p><%= resource.category %></p>
          <p><%= resource.tags %></p>
        </div>
      </div>
      <% }); %>
    <% } else { %>
      <p>No resources</p>
    <% } %>
    </section>
  </main>

</body>
</html>