<% if (messages) { %>
  <article class="alerts">
      <% if (messages.error) { %>
        <% messages.error.forEach(function(msg) { %>
          <div class="alert-message alert-error">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM11 7H13V13H11V7Z"></path></svg>
            <p><%= msg %></p>
            <button class="btn-close">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg>
            </button>
          </div>
        <% }); %>
      <% } %>
      <% if (messages.info) { %>
        <% messages.info.forEach(function(msg) { %>
          <div class="alert-message alert-info">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M12 22C6.47715 22 2 17.5228 2 12 2 6.47715 6.47715 2 12 2 17.5228 2 22 6.47715 22 12 22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12 20 7.58172 16.4183 4 12 4 7.58172 4 4 7.58172 4 12 4 16.4183 7.58172 20 12 20ZM13 10.5V15H14V17H10V15H11V12.5H10V10.5H13ZM13.5 8C13.5 8.82843 12.8284 9.5 12 9.5 11.1716 9.5 10.5 8.82843 10.5 8 10.5 7.17157 11.1716 6.5 12 6.5 12.8284 6.5 13.5 7.17157 13.5 8Z"></path></svg>
            <p><%= msg %></p>
            <button class="btn-close">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg>
            </button>
            </div>
        <% }); %>
      <% } %>
  </article>
<% } %>

<header class="header" id="header">
  <nav class="navbar container">
    <a href="/">
      <h2 class="logo">KajLund</h2>
    </a>

    <div class="menu" id="menu">
      <ul class="list">
        <li class="list-item">
          <a href="/" class="<%= page == 'home' ? 'list-link current' : 'list-link' %>">Home</a>
        </li>
        <li class="list-item">
          <a href="/posts" class="<%= page == 'blog' ? 'list-link current' : 'list-link' %>">Blog</a>
        </li>
        <li class="list-item">
          <a href="/resources" class="<%= page == 'resources' ? 'list-link current' : 'list-link' %>">Resources</a>
        </li>
        <% if (user && user.role.includes('admin')) { %>
          <li class="list-item">
            <a href="/proverbs" class="<%= page == 'proverbs' ? 'list-link current' : 'list-link' %>">Proverbs</a>
          </li>
        <% } %>  
        <li class="list-item">
          <a href="/about" class="<%= page == 'about' ? 'list-link current' : 'list-link' %>">About</a>
        </li>
        <% if (user) { %>
        <li class="list-item screen-lg-hidden">
          <a href="/users/logout" class="list-link">Logoff</a>
        </li>
        <% } else { %>
        <li class="list-item screen-lg-hidden">
          <a href="/users/login" class="<%= page == 'login' ? 'list-link current' : 'list-link' %>">Log on</a>
        </li>
        <% } %>
        <li class="list-item screen-lg-hidden">
          <a href="/users/register" class="<%= page == 'register' ? 'list-link current' : 'list-link' %>">Register</a>
        </li>
      </ul>
    </div>

    <div class="list list-right">
      <button class="btn-icon place-items-center" id="theme-toggle-btn">
        <i class="ri-sun-line sun-icon"></i>
        <i class="ri-moon-line moon-icon"></i>
      </button>

      <button class="btn-icon place-items-center screen-lg-hidden menu-toggle-icon"
        id="menu-toggle-icon"
      >
        <i class="ri-menu-3-line open-menu-icon"></i>
        <i class="ri-close-line close-menu-icon"></i>
      </button>

      <% if (user) { %>
        <img src="<%= user.picture %>" class="profile-pic screen-sm-hidden" alt="profile pic">
        <a href="/users/logout" class="list-link screen-sm-hidden">Logoff</a>
      <% } else { %>
        <a href="/users/login" class="<%= page == 'login' ? 'list-link screen-sm-hidden current' : 'list-link screen-sm-hidden' %>">Log on</a>
      <% } %>
    </div>
  </nav>
</header>