<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../../partials/head') %>
      <link rel="stylesheet" href="/css/forms.css" />
  </head>

  <body>
    <%- include('../../partials/header') %>
      <main>
        <section class="small-form">
          <div class="place-items-center" style="width: 100%;">
            <h1>Edit Post</h1>
          </div>

          <form class="form" action="/posts/<%= postId %>/update" method="POST">
            <div class="form-section">

              <div class="input-group">
                <label class="input-label" for="title">Title</label>
                <input class="input" type="text" placeholder="Title" name="title" id="title" required
                  value="<%= value.title %>">
                <p class="input-error">
                  <%= error.title %>
                </p>
              </div>

              <div class="input-group">
                <label class="input-label" for="image">Image</label>
                <input class="input" type="text" placeholder="Image.jpg" name="image" id="image" required
                  value="<%= value.image %>">
                <p class="input-error">
                  <%= error.image %>
                </p>
              </div>

              <div class="input-group">
                <label class="input-label" for="description">Description</label>
                <textarea class="input" name="description" id="description" cols="30" rows="5"
                  required><%= value.description %></textarea>
                <p class="input-error">
                  <%= error.description %>
                </p>
              </div>

              <div class="input-group">
                <label class="input-label" for="content">Content</label>
                <textarea class="input" name="content" id="content" cols="30" rows="15"
                  required><%= value.content %></textarea>
                <p class="input-error">
                  <%= error.content %>
                </p>
              </div>

              <div class="input-group">
                <label class="input-label" for="author">Author</label>
                <input class="input" type="text" placeholder="Author" name="author" id="author"
                  value="<%= value.author %>">
                <p class="input-error">
                  <%= error.author %>
                </p>
              </div>

              <div class="input-group">
                <label class="input-label" for="featured">
                  <input type="checkbox" id="featured"   name="featured"
                    value="<%= value.featured %>"
                    <%= value.featured ? 'checked' : '' %>

                  /> Featured
                </label>
                <p class="input-error">
                  <%= error.featured %>
                </p>
              </div>
            </div>

            <div class="form-section">
              <div class="form-commands">
                <input class="btn btn-primary" type="submit" value="Save">
                <a class="btn btn-outline" href="/posts">Cancel</a>
                <a class="btn btn-alert" href="/posts/<%= postId %>/delete">Delete</a>
              </div>
            </div>
          </form>
        </section>
      </main>
  </body>

</html>
