{% layout 'layout' %}

{% block 'head' %}
  <link rel="stylesheet" href="/css/proverbs.css" />
{% endblock %}

<section class="commands">
  <div class="filter">
    <div class="filter-group">
      <label for="langFilter">Language</label>
      <select id="selLanguage">
        {% for l in languages %}
          {% if l == value.lang %}
            <option selected>{{l}}</option>
          {% else %}
            <option>{{l}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="filter-group">
      <label for="category">Category</label>
      <select id="selCategory">
        {% for cat in categories %}
          {% if cat == value.category %}
            <option selected>{{cat}}</option>
          {% else %}
            <option>{{cat}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="filter-group">
      <label for="txtAuthor">Author</label>
      <input type="text" id="txtAuthor" name="txtAuthor" list="authorsList" >
      <datalist id="authorsList">
        {% for author in authors %}
          <option>{{author}}</option>
        {% endfor %}
      </datalist>
    </div>
    <div class="filter-group">
      <button id="btnFilterClear" class="btn btn-small btn-outline">Clear</button>
    </div>
  </div>
  <div>
    {% if user and user.role contains "admin" %}
      <a class="btn btn-primary" href="/proverbs/add">Add</a>
    {% endif %}
  </div>
</section>

<section class="proverbs">
  {% unless proverbs.length > 0 %}
    <p>No proverbs</p>
  {% endunless %}

  {% for proverb in proverbs %}
    <div class="card">
      <div class="card-header">
        <h2 class="title">{{proverb.title}}</h2>
        {% if user and user.role contains "admin" %}
          <a  href="/proverbs/{{proverb.id}}/edit">
            <i class="ri-edit-box-line"></i>
          </a>
        {% endif %}
      </div>
      <div class="card-content">
        <p class="proverb">
          <span class="cite">&OpenCurlyDoubleQuote;</span>
            {{proverb.content}}
          <span class="cite">&CloseCurlyDoubleQuote;</span>
        </p>
        <p class="author">
          <em>&mdash; {{proverb.author}}</em>
          {{proverb.description}}
        </p>
      </div>
      <div class="card-footer">
        <p>{{proverb.category}}</p>
        <p>{{proverb.tags | join: ", "}}</p>
      </div>
    </div>
  {% endfor %}
</section>

{% block 'scripts' %}
  <script type="module" src="/js/proverbs.js" defer></script>
{% endblock %}
