<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head') %>
  <link rel="stylesheet" href="/css/proverbs.css" />
</head>
<body>
  <%- include('../../partials/header') %>
  <main>
    <section class="commands">
      <div>
        <label for="groups">Group</label>
        <select name="groups" id="groups">
          <% groups.forEach(function(group) { %>
            <option value="<%= group %>"><%= group %></option>
          <% }); %>
        </select>
      </div>
      <div>
        <a class="btn btn-primary" href="/proverbs/add">Add</a>
      </div>
    </section>

    <section class="proverbs">
    <% if (proverbs) { %>
      <% proverbs.forEach(function(proverb) { %>
        <div class="card">
        <div class="card-header">
          <h1 class="title"><%= proverb.title %></h1>
          <a  href="/proverbs/<%= proverb.id %>/edit">
            <i class="ri-edit-box-line"></i>
          </a>
        </div>
        <div class="card-content">
          <p class="proverb">
            <span class="cite">&OpenCurlyDoubleQuote;</span>
            <%= proverb.content %>
            <span class="cite">&CloseCurlyDoubleQuote;</span>
          </p>
          <p class="author">
            <em>&mdash; <%= proverb.author %></em>
            <%= proverb.description %>
        </p>
        </div>
        <div class="card-footer">
          <p><%= proverb.group %></p>
          <p><%= proverb.tags %></p>
        </div>
      </div>
      <% }); %>
    </ul>
    <% } else { %>
      <p>No proverb data</p>
    <% } %>
    </section>
  </main>

</body>
</html>